/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************************************************************************************************************/
/*
Remise en place d'un css de base correct et commun a tous les navigateurs
*/


/*Réatribution du css par défault à ma façon*/
html {
    scroll-behavior: smooth;
}

h1
{
	font-size: 2em;
	font-weight: bold; 
	padding: 30px 0px 30px 0px;
}

h2{
	font-size: 1.7em;
	font-weight: bold;
	padding: 25px 0px 25px 15px;
}

h3{
	font-size: 1.4em;
	font-weight: bold;
	padding: 20px 0px 20px 15px
}

h4{
	font-size: 1.2em;
	padding: 10px 0px 15px;
}

p{
	font-size: 15px;
	padding: 0px 0px 8px 0px;
}

ul, ol{
	padding: 10px 0px 10px 30px;
	list-style: inside;
}

li{
	padding: 2px 0px 2px 0px;
	font-size: 15px;
}

td, tr, th
{
	padding: 8px;
	border-collapse : collapse;
	border-color : black;
	border-width : 1px;
	border-style : solid;
}

th{
	font-weight: bold;
	font-size: 12px;
}

a {
    color: white;
    text-decoration: none;
}

strong{
	font-weight: bold;
}

/*************************************************************************************************************************************/

/*
    CSS du projet
*/

/*some fonts*/
@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: slabo;
    src: url(../fonts/slabo_27px/Slabo27px-Regular.ttf);
}

@font-face {
    font-family: cormorant;
    src: url(../fonts/cormorantGaramond/CormorantGaramond-Regular.ttf);
}

/*CSS Globals*/
h1, p {
    padding: 5vh 0 0 7vw;
    font-family: cormorant;
    color: #EEF0F2;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

/*Page d'accueil*/
#portrait {
    background: url(../images/portraitRogner.jpg), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: #EEF0F2;
}

.nav-child {
    font-family: cormorant;
    margin-top: 2vh;
    margin-right: 3vw;
    font-size: 1.2em;
    color: #EEF0F2;
}

/*.nav-underline{
    width: 0;
    border: solid #EEF0F2 1px;
}*/

#presentation {
    padding-left: 7vw;
    padding-top: 20vh;
    height: 100vh;
}

#presentation > h1 {
    font-size: 5em;
}

#presentation > p {
    width: 25vw;
}


/*Qui suis-je ?*/
#about {
    background-color: #274156;
}
#workspace {
    background: url(../images/desktopWork.jpg), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

/*Mes projets*/
#projets {
    height: 100vh;
    background-color: #ECEBE4;
    display: flex;
    flex-direction: row;
}